<html>
<h1>Register</h1> 

  <form(method='POST', action='/users/register')>
    
      <label>id:</label>
      <input name='id', type='text'></input >
     <br>
      <label>age:</label> 
      <input name='age' type='text')></input >
       <br>
      <label>famille:</label> 
      <input name='famille' type='famille'></input>
     <br>
      <label> race:</label>
      <input name='race' type='race')></input>
         <br>
      <label> nourriture:</label>
      <input name='nourriture' type='nourriture')></input>
     <br>
      <label> Password:</label>
      <input name='password' type='password'></input>
     <br>
      <label>Confirm:</label>
      <input name='password2' type='password')></input>
    <br>
    <input type='submit',value='Submit' ></input>
</form>
</html>